

@font-face {
  font-family: 'myfont';
  src:  url('/font/myfont.woff2') format('woff2'),
        url('/font/myfont.woff') format('woff'), 
        url('/font/myfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/***  ------------------  ID's  ------------------  ***/
#background {
	position: static;
	min-width: 400px;
	width: 100%;
}

#background img {
	position: absolute;
	top: 5%;
	bottom: auto;
	min-width: 600px;
	max-width: 100%;
	z-index: -1;
	opacity: .6;
}

#background h1 {
	color: #f3f3f3;
	margin-left: 54%;
	margin-top: 24%;
	font-size: 3em;
}

#background h2 {
	color: gold;
	margin-left: 68%;
	font-size: 3.2em;
}

#background-login {
	height: 38px;
	min-width: 240px;
	width: 25%;
	background-color: #777777;
	border: 2px solid #aaaaaa;
	border-radius: 17px;
	text-align: center;
	font-size: 1.2em;
	margin: auto;
	margin-top: 8%;
	font-style: italic;
}

#background-login div {
	display: inline-block;
	padding: 5px;
	margin: 0 25px;
}

#background-login span {
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: 1em;
	color: #888888;
}

#background-login a {
	color: #cccccc;
}

#background-login a:hover, #background-login a:focus {
	color: gold;/* #cfae00; */
}

#nav-wrap {
	/* box-shadow: 0 10px 14px rgba(229,115,0,.25); */
	background-color: #f3f3f3;
	border-bottom: 2px solid #dddddd;
	margin-bottom: 20px;
}

#nav {
	height: 70px;
	position: static;
	font-size: 18px;
	background-color: inherit;
	margin-top: -10px;
}

#left-nav-ul {
	position: absolute;
	left: 1%;
	top: 0px;
	padding: 10px 15px;
	font-size: 1.2em;
}

#right-nav-ul {
	position: absolute;
	top: 10px;
	right: 1%;
}


#nav-person-dropdown {
	left: auto;
	right: 0;
}


#links>li>a{
	border-bottom: 1px solid #ff8000;
}

#links>li {
	margin-bottom: 20px;
}

#custom-handle {   /* for spinners */
	width: 3em;
	height: 1.6em;
	top: 50%;
 	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}

#mapwrap {
	max-width: 600px;
	min-height: 300px;
	width: 100%;
	height: auto;
	border-radius: 20px;
	position: static;
}

#map {
	position: static;
	max-width: 600px;
	min-height: 300px;
	background-color: grey;
	width: 100%;
	height: auto;
	border-radius: 20px;
	/* z-index: -1; */
}

.filter-bars {
	background-color: #eeeeee;
	color: grey;
	margin: 0 -20px; 
	padding: 10px 30px;
	border: 1px solid #dddddd;
	border-radius: 7px;
}

.left {
	margin-right: 20px;
	margin-left: -20px;
}

.main {
	padding-left: 20px;
}

.scrolloff {
    pointer-events: none;
}


	
/***  ------------------  CLASSES  ------------------  ***/

.nav-li {
	list-style: none;
	display: list-item;
	padding: 10px 15px;
	position: relative;
	float: left;	
}

.nav-li>a, .nav-li>button {
    position: relative;
    display: block;
    border: none;
    background-color: inherit;
    color: grey;
}

.main-filter-button {
	color: grey;
	font-size: 1.1em;	
	margin: 20px 50% 20px 20px;
	padding: 10px;
	border-left: 4px solid white;
	border-bottom: 1px solid white;
}

.main-active {
	font-size: 1.1em;
	color: black;
	border-left: 4px solid #ff8000;
	border-bottom: 1px solid #ff8000;
	border-bottom-left-radius: 7px;
}

.main-row {
	margin-top: 20px;
}

.loc-btn {
	color: grey;
	background-color: #dddddd;
	font-size: .9em;
	margin: 5px 5px;
	padding: 3px 35px;
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 4px;
}

.pressed {
	background-color: #f3f3f3;
	border: 1px solid #dddddd;
}

.my-calendar-control {
	text-align: center;
}

.day{
	
}

.daynumber{
	width: 30px;
	height: 30px;
	margin: 0 7px;
	line-height: 30px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #e0e0e0;
}

#climbs-calendar .daynumber, #home-calendar .daynumber {
	width: 60px;
}


.daydetail-frame {
	width: 30px;
	min-height: 90px;
	margin: 0 7px 14px 7px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

#climbs-calendar .daydetail-frame, #home-calendar .daydetail-frame {
	width: 60px;
}

.daydetail{
	width: 28px;
	min-height: 89px;
	margin: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#climbs-calendar .daydetail, #home-calendar .daydetail {
	width: 58px;
}


.date {
	display: none;
	height: 0;
	z-index: -1;
}

.cal-btn {
	background-color: #f3f3f3;
	border: 1px solid #f3f3f3;
	padding: 10px;
	margin-left: 7px;
	border-radius: 19px;
	width: 38px;
	height: 38px;
	font-size: 1.25em;
	color: #bbbbbb;
}

.cal-btn:hover, .cal-btn:focus {
	color: #aa99bb;
	border: 1px solid #e3d3f3;
	
}

.cal-prev {
	line-height: 16px;
}

.cal-next {
	line-height: 20px;
}

.spinner {
	display: inline-block;
	width: 65px;
}

.filtered-category, .filtered-category option {
	color: #ff8000;
	padding: 0 10px;
}

.filtered-category span {
	color: grey;
}

.filtered-category span span {
	color: #ff8000
}

.climblist-form, .profile {
	padding: 10px 0 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 10px;
	margin: 15px 0 15px 25px;
}

#add-loc-btn, #submit-gym, #submit-crag {
	height: 32px;
	min-width: 130px;
	width: 150px;
	background-color: #eeeeee;
	border: 2px solid #dddddd;
	border-radius: 15px;
	text-align: center;
	line-height: 29px;
	font-size: .95em;
	font-style: italic;
	font-weight: bold;
}

#submit-gym, #submit-crag {
	width: 160px;
	min-width: 140px;
	font-size: 1em;
	line-height: 26px;
	padding-left: -5px;
}

#add-loc-btn span {
	color: #ff8000;
	margin: 0 5px 0 -5px;
	padding: 0;
	font-size: .8em;
}

#add-loc-btn:hover, #add-loc-btn:focus,
#submit-gym:hover, #submit-gym:focus,
#submit-crag:hover, #submit-crag:focus{
	color: #ff8000;
	border-color:#d0d0d0;
	background-color: #e0e0e0; 
}

#gym-or-crag p {
	display: inline-block;
	font-size: .9em;
	font-style: italics;
}

#gym-or-crag .add-this-type {
	color: #ff8000;
}

#gym-or-crag span:hover {
	color: #ff8000;
	text-decoration: underline;
} 

.subtext {
	margin: 5px 0 -10px 20px;
}

.subtext span {
	margin: 0 0 0 10px;
	font-size: .97em;
}

.img-instruct {
	border: 1px solid #dddddd;
	margin: 2px 10px 10px 10px;
}

.instruct {
	margin-bottom: 25px;
}

#loc-error {
	padding: 20px;
	margin: auto;
	border: 2px solid #6d1414;
	border-radius: 10px;
	background-color: #dddddd;
}

.loc:hover, .loc:focus {
	color: #ff8000;
}

.location {
	padding: 20px;
}

.hidden {
	display: none;
}

.invisible {
	visibility:hidden;
}

.center {
	text-align: center;
}

button:disabled {
	background-color: #eeeeee;
	color: #dddddd;
	border: 1px solid #dddddd;
}


/***  ------------------  TAGS  ------------------  ***/

html {
	font-family: "myfont","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
   	font-family: "myfont","Helvetica Neue",Helvetica,Arial,sans-serif;
}


header {
}

nav {
	margin: 3px 0;
}


a {
	color: gray;
}

a:hover, a:focus {
    color: #ff8000;
	text-decoration: none;
}

li {
	list-style-type: none;
}

td {
	
}