<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: htmlhead"></head>

<body>

	<thblock th:replace="template :: header"></thblock>

	<div class="container">
		<div class="row">
			<div class="col-xs-8">

				<table>
					<tr class="days-of-week">
						<td>s</td>
						<td>m</td>
						<td>t</td>
						<td>w</td>
						<td>t</td>
						<td>f</td>
						<td>s</td>
					</tr>
					<tr>
						<td class="day"><div class="daynumber" id="day0"></div><div></div></td>
						<td class="day"><div class="daynumber" id="day1"></div><div></div></td>
						<td class="day"><div class="daynumber" id="day2"></div><div></div></td>
						<td class="day"><div class="daynumber" id="day3"></div><div></div></td>
						<td class="day"><div class="daynumber" id="day4"></div><div></div></td>
						<td class="day"><div class="daynumber" id="day5"></div><div></div></td>
						<td class="day"><div class="daynumber" id="day6"></div><div></div></td>
						<td id="prev-week"><span class="glyphicon glyphicon-chevron-up"></span></td>
					</tr>
					<tr>
						<td class="day"><div class="daynumber" id="day7"></div><div></div></td>
						<td class="day"><div class="daynumber" id="day8"></div><div></div></td>
						<td class="day"><div class="daynumber" id="day9"></div><div></div></td>
						<td class="day"><div class="daynumber" id="day10"></div><div></div></td>
						<td class="day"><div class="daynumber" id="day11"></div><div></div></td>
						<td class="day"><div class="daynumber" id="day12"></div><div></div></td>
						<td class="day"><div class="daynumber" id="day13"></div><div></div></td>
						<td id="next-week"><button><span class="glyphicon glyphicon-chevron-down"></span></button></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">

			</div>
		</div>
	</div>
	
	
</body>
</html>