<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: htmlhead"></head>

<body>

	<thblock th:replace="template :: header"></thblock>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<form method="post">

					<div class="form-group" th:class="${nameError}? 'has-error'">
						<label for="name" class="control-label"><h4>Name</h4> <br />
							<input type="text" name="name" th:value="${name}"
							class="form-control" /></label>&nbsp;&nbsp; <span
							class="text-danger error" th:text="${nameError}"></span>
					</div>
					<p class="text-warning info" th:text="${nameGuide}"></p>


					<label for="pic"> <img height="200px" width="200px"
						border="1px solid black" th:src="@{/img/cal2_2.png}" /> <!-- ${user.pic} -->
					</label>
					<button>Upload a pic</button>

					<h5>My Gym:</h5>
					<label for="gym"><input name="gym" type="text"
						th:value="${gym}" /> <!-- ***figure out how to make LaunchCode style selection boxes*** -->
					</label>


					<!-- Tabs - Sport/Boulder  ***do this with th:each?*** -->

					<!--  		<section th:replace="leadFragment :: leadFragmentContent"></section>
		<section th:replace="trFragment :: trFragmentContent"></section>
		<section th:replace="boulderFragment :: boulderFragmentContent"></section>
 -->
					<button type="submit">Save</button>

				</form>
			</div>
		</div>
	</div>
</body>
</html>

</body>
</html>