<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: htmlhead"></head>

<body>

	<thblock th:replace="template :: header"></thblock>

	<div id="user" th:text="${user_logged}" style="display: none"></div>
	<div id="filter-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div id="filter-modal-content" class="modal-content">
				<h4></h4>
				<section id="x" class="my-calendar-control"></section>
				<input id="selected-date" name="selected-date"
					style="display: none;"></input> <span class="center">
					
					<button id="btn-after" class="hidden">apply filter</button>
					<button id="btn-before" class="hidden">apply filter</button>
				</span>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="filter-bar" class="filter-bars">
					<span>schedule filters:</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div id="climber-filter-bar" class="filter-bars hidden">
					<span>profile filters:</span>
				</div>
			</div>
		</div>
		

		<div class="row">
			<div class="col-xs-3 left">

				<div class="row">
					<div class="col-xs-12">
						<div id="cal-search" class="main-filter-button main-active">Calendar</div>
						<div id="loc-search" class="main-filter-button">Locations</div>
						<div id="ppl-search" class="main-filter-button">Climbers</div>
					</div>
				</div>

				<hr />

				<div id="cal-filters" class="row search-filters">
					<div class="col-xs-12">

						<div>
							<h4>Filters</h4>
						</div>
						<label for="show-tabs">Show</label>
						<div class="row">
							<div class="col-md-3 display-filter df-active">All</div>
							<div class="col-md-3 display-filter">Unfilled</div>
							<div class="col-md-3 display-filter">Filled</div>
							<div class="col-md-3 display-filter">Expired</div>
						</div>
						<div id="date-filter">
							<!-- 		

		TODO - change to -when-, -where-, -who-, -how long-
		
		
 -->
							<label>date range</label>
							<div>
								<button data-toggle="modal" data-target="#filter-modal">after</button>
								<input id="date-after" type="text" value="" class="hidden"></input>
							</div>
							<div>
								<button data-toggle="modal" data-target="#filter-modal">before</button>
								<input id="date-before" type="text" value="" class="hidden"></input>
							</div>
						</div>
						<div id="time-filter">
							<label>time of day</label>
							<div id="time-slider"></div>
							<div>
								<span>earliest:</span> <span> <input id="time-min"
									type="text" value="" class="hidden"></input>
								</span>
							</div>
							<div>
								<span>latest:</span> <span> <input id="time-max"
									type="text" value="" class="hidden"></input>
								</span>
							</div>
						</div>
						<div id="duration-filter">
							<label>how long</label>
							<div id="dur-slider"></div>
							<div>
								<span>shortest:</span> <span> <input id="dur-min"
									type="text" value="" class="hidden"></input>
								</span>
							</div>
							<div>
								<span>longest:</span> <span> <input id="dur-max"
									type="text" value="" class="hidden"></input>
								</span>
							</div>
						</div>
						<div id="location-filter">
							<label>where</label>
							<h5>show</h5>
							<div>
								<span>in gyms:</span> <span> <input id="show-gyms"
									type="checkbox" checked="checked"></input>
								</span>
							</div>
							<div>
								<span>at crags:</span> <span> <input id="show-crags"
									type="checkbox"></input>
								</span>
							</div>
							<div>
								<span>loc:</span><br /> <select name="location">
									<option value="0">include climbs at:</option>
									<option th:each="loc,iterStat : ${locs}"
										th:value="${iterStat.count}" th:text="${loc.locName}" />
								</select>
							</div>
						</div>
a						<div id="climber-filter">
							<label>who</label>
							<div>
								<select name="climber-list">
									<option value="0">include:</option>
									<option th:each="user,iterStat : ${users}"
										th:value="${iterStat.count}" th:text="${user.username}" />
								</select>

							</div>

						</div>


					</div>
				</div>
				<!-- end #cal-filters -->

				<div id="loc-filters" class="row search-filters hidden">
					<div class="col-xs-12">
<!-- 						<div class="row">
							<div class="col-xs-6">
								<span id="gyms" class="loc-btn pressed">gyms</span>
							</div>
							<div class="col-xs-6">
								<span id="crags" class="loc-btn">crags</span>
							</div>
						</div>
 -->
						<div>
							<p>Don't see yours?</p>
							<div id="add-loc-btn"><span class="glyphicon glyphicon-plus"></span>Add A Location!</div>
						</div>
						<hr />

						<div class="row">
							<div class="col-xs-12">

								<section th:each="loc,iterStat : ${locs}"
									th:id="'loc'+${iterStat.count}" class="loc">
									<p th:text="${loc.locName}"></p>
								</section>

							</div>
						</div>
					</div>
				</div>
				<!-- end #loc-filters -->


				<div id="ppl-filters" class="row search-filters hidden">
					<div class="col-xs-12">
						<div>
							<h4>Filters</h4>
						</div>
						<div class="row">
<!-- 							<div>
								Clear all filters
							</div>
 -->						</div>
						

						<div id="profile-filter">

							<label>who</label>
							<div>
								<select name="profile-list">
									<option value="0">include:</option>
									<option th:each="user,iterStat : ${users}"
										th:value="${iterStat.count}" th:text="${user.username}" />
								</select>

							</div>
						
						</div>	
						<div id="gym-filter">
							
							<label>home gym</label>
							<div>
								<select name="home-gym-list">
									<option value="0">include:</option>
									<option th:each="loc,iterStat : ${locs}" th:if="(${loc.gym} == true)"
										th:value="${iterStat.count}" th:text="${loc.locName}" />
								</select>
							</div>


						</div>
						
<!-- 						<div id="lead-min-filter">
							<label>how long</label>
							<div id="lead-min-slider"></div>
							<div>
								<span>Min:</span> <span> <input id="lead-min-min"
									type="text" value="" class="hidden"></input>
								</span>
							</div>
							<div>
								<span>Max:</span> <span> <input id="lead-min-max"
									type="text" value="" class="hidden"></input>
								</span>
							</div>
						</div>
 -->						


					</div>
				</div>
				<!-- end #ppl-filters -->

			</div>
			<!-- END LEFT BAR (col-xs-3) -->



			<!-- 

   *****  MAIN CONTENT  *****

 -->

			<div class="col-xs-9 main">


				<div id="cal-main" class="row search-main main-row">
					<!-- Calendar -->
					<div class="my-calendar-control" id="climbs-calendar"></div>
					<div class="row">
						<div class="col-xs-12">
							<section th:each="climb,iterStat : ${climbs}"
								th:id="${iterStat.count}" class="climblist-form">
								<th:block th:replace="climb-object :: climb-object"></th:block>
							</section>
						</div>
					</div>
				</div>



				<div id="loc-main" class="row search-main invisible">
					<!-- Locations -->
					<div class="col-xs-12">

						<div class="row main-row">
							<div class="col-xs-12">
						
								<div id="mapwrap">
									<div id="map"></div>
								</div>
							</div>
						</div>

				
					<script async="async" defer="defer" src="/js/map.js" th:href="@{js/map.js}"></script>
					<script async="async" defer="defer"	src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCLNp25pNgiR7w4RvxOwS8ZF212b_j6UDw&amp;callback=initMap'></script>


						<div class="row main-row">
							<div class="col-xs-12">
								<section th:each="location,iterStat : ${locs}" th:id="'location'+(${iterStat.count} - 1)" class="location hidden">
									<p class="loc-name " th:text="${location.locName}"></p>
									<p class="lat hidden" th:text="${location.latitude}"></p>
									<p class="lng hidden" th:text="${location.longitude}"></p>
									<p class="isGym hidden" th:text="${location.gym}"></p>
									<p class="addr" th:text="${location.postalAddress}"></p>
									<p class="city" th:text="${location.city}"></p>
									<p class="state hidden" th:text="${location.state}"></p>
									<p class="zip hidden" th:text="${location.zip}"></p>
									<p class="phone" th:text="${location.phone}"></p>
									<p class="webAddress" ><a th:href="'http://'+${location.webAddress}" th:text="${location.webAddress}"></a></p>
									<p th:if="${location.gym} != true" th:text="'latitude:   '+${location.latitude}"></p>
									<p th:if="${location.gym} != true" th:text="'longitude:  '+${location.longitude}"></p>
								</section>
							</div>
						</div>
						<thblock th:replace="loc-input :: loc-input"></thblock>
					</div>
				</div>


				<div id="ppl-main" class="row search-main hidden">
					<!-- Climbers -->
					<div class="col-xs-12">
						<div class="row main-row">
							<div class="col-xs-12">
								<section th:each="profile,iterStat : ${profiles}" th:id="'profile'+(${iterStat.count} - 1)" class="profile">
									<p class="name" th:text="${profile.user.getUsername()}"></p>
									<p class="homegym" th:text="${profile.homeGym}"></p>
									<p class="lead-min" th:text="${profile.leadPracticeMin}"></p>
									<p class="lead-max" th:text="${profile.leadPracticeMax}"></p>
									<p class="tr-min" th:text="${profile.topropePracticeMin}"></p>
									<p class="tr-max" th:text="${profile.topropePracticeMax}"></p>
									<p class="boulder-min" th:text="${profile.boulderPracticeMin}"></p>
									<p class="boulder-max" th:text="${profile.boulderPracticeMax}"></p>
								</section>
								
								<section th:each="user,iterStat : ${users}" th:id="'prof'+${iterStat.count}" class="prof hidden">
									<p th:text="${user.username}"></p>
								</section>
								
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</body>
</html>