<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: htmlhead"></head>

<body>

	<thblock th:replace="template :: header"></thblock>

	<div id="filter-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div id="filter-modal-content" class="modal-content">
				<h4></h4>
				<section id="x" class="my-calendar-control"></section>
				<input id="selected-date" name="selected-date" style="display: none;"></input>
				<span>
					<button id="btn-after" class="hidden">afilter</button>
					<button id="btn-before" class="hidden">bfilter</button>
				</span>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div id="filter-bar" class="col-xs-12"><span>applied filters:</span></div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-xs-3">
				<div>Calendar</div>
				<div>Locations</div>
				<div>Climbers</div>
				<hr/>
				<div><h4>Filters</h4></div>
				<label for="show-tabs">Show</label>
				<div class="row">
					<div class="col-md-3">
						All
					</div>
					<div class="col-md-3">
						Unfilled
					</div>
					<div class="col-md-3">
						Filled
					</div>
					<div class="col-md-3">
						Expired
					</div>
				</div>
				<div id="date-filter">
					<label>date range</label>
					<div>
						<button data-toggle="modal" data-target="#filter-modal">after</button>
						<input id="after" type="text" value="" class="hidden"></input>
					</div>
					<div>
						<button data-toggle="modal" data-target="#filter-modal">before</button>
						<input id="before" type="text" value="" class="hidden"></input>
					</div>
				</div>
				<div id="time-filter">
					<label>time of day</label>
					<div id="slider"></div>
					<div>
						<span>earliest:</span>
						<span>
							<input id="min-time" type="text" value="" class="hidden"></input>
						</span>
					</div>
					<div>
						<span>latest:</span>
						<span>
							<input id="max-time" type="text" value="" class="hidden"></input>
						</span>
					</div>
				</div>
				<div id="duration-filter">
					<label>how long</label>
					<div id="dur-slider"></div>
					<div>
						<span>earliest:</span>
						<span>
							<input id="dur-min" type="text" value="" class="hidden"></input>
						</span>
					</div>
					<div>
						<span>latest:</span>
						<span>
							<input id="dur-max" type="text" value="" class="hidden"></input>
						</span>
					</div>
				</div>
				<div id="location-filter">
					<label>where</label>
					<h5>show</h5>
					<div>
						<span>gyms:</span>
						<span>
							<input id="show-gyms" type="checkbox" checked="checked"></input>
						</span>
					</div>
					<div>
						<span>crags:</span>
						<span>
							<input id="show-crags" type="checkbox"></input>
						</span>
					</div>
					<div>
						<span>loc:</span>
						<select name="location">
							<option th:each="loc : ${locs}" th:text="${loc.locName}" />
						</select>
					</div>
				</div>
				<div id="climber-filter">
					<label>who</label>
					<div>
						<select name="climber-list">
							<option th:each="climber : ${climbers}" th:text="${climber.user.username}" />
						</select>
					</div>

				</div>

			</div>
			
			<div class="col-xs-9">
				<div class="row search-main active">
					<div class="my-calendar-control" id="climbs-calendar"></div>
				</div>
				<div class="row search-main">
					
				</div>
				<div class="row search-main">
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>