<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: htmlhead">

</head>

<body>

	<thblock th:replace="template :: header"></thblock>

	<div class="container">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<div class="center">

					<h1>Congratulations!</h1>

					<h4>You found the bug!</h4>

					<p>You're clearly an astute QA analyst! Or maybe a developer?</p>
					<p>While we try to figure out how you got here, you're invited
						to browse around some more and see what other bugs we've hidden
						for you!</p>

				</div>
				<div class="col-xs-4"></div>
			</div>
		</div>
	</div>
</body>
</html>
